<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form [formGroup]="userAddressValidations">
      <ion-input formControlName="mobile"></ion-input>
      <!-- <input formControlName="mobile"> -->
      <div *ngIf="userAddressValidations.get('mobile').hasError('required')">
        mobile is Required!
      </div>
    
      <div *ngIf="userAddressValidations.get('mobile').hasError('pattern')">
        Invalid Phone number
      </div>
    </form>

  </div>
</ion-content>
